{% for item_child in item.article_filter|slice:":4" %}
<div class="col-xl-12">
  <div class="whats-right-single mb-20">
    <div class="whats-right-img" style="width: 30%">
      <img
        src="{{ item_child.image.url }}"
        alt=""
        style="width: 100%; object-fit: cover"
      />
    </div>
    <div class="whats-right-cap" style="width: 70%">
      <h4 style="font-size: 22px">
        <a href="{{ item_child.get_absolute_url }}"> {{ item_child.name }} </a>
      </h4>
      <p></p>
      <p>{{ item_child.content|safe|truncatewords_html:20 }}</p>
    </div>
  </div>
</div>
{% endfor %}
