{% load check_and_show_error %} {% load check_and_show_value %}

<div class="latest-product__text">
  <h4>Comments</h4>
  <div class="latest-product__slider owl-carousel">
    {% for product_group in items_blog %}
    <div class="latest-prdouct__slider__item">
      {% for item in product_group %}
      <p class="">
        <div class="">
          <h6>{{ item.name|truncatewords:8 }}</h6>
          <p>{{ item.content|safe|truncatewords:20 }} </p>
        </div>
      </p>
      {% endfor %}
    </div>
    {% endfor %}
  </div>

  <h4 class="mb-2">Write us a message</h4>
  <p style="line-height: 25px">Tell us what you think about this blog!</p>
  <form
    class="contact_form"
    id="contact_form"
    name="contact_form"
    action="{% url 'shop:contact' %}"
    method="post"
  >
    {% csrf_token %}
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="exampleInputName">Full name</label>
          <input
            id="form_name"
            name="name"
            class="form-control"
            type="text"
            value="{% check_and_show_value form.name.value %}"
          />
          {% check_and_show_error form.errors.name %}
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <label for="exampleInputEmail">Email</label>
          <input
            id="form_email"
            name="email"
            class="form-control email"
            type="email"
            value="{% check_and_show_value form.email.value %}"
          />
          {% check_and_show_error form.errors.email %}
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <label for="exampleInputPhone">Phone</label>
          <input
            id="form_phone"
            name="phone"
            class="form-control"
            type="text"
            value="{% check_and_show_value form.phone.value %}"
          />
          {% check_and_show_error form.errors.phone %}
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <label for="exampleInputEmail1">Message</label>
          <textarea
            id="form_message"
            name="message"
            class="form-control"
            rows="5"
          >
                  {% check_and_show_value form.message.value %}
                </textarea
          >
          {% check_and_show_error form.errors.message %}
        </div>
        <div class="form-group ui_kit_button mb0">
          <button type="submit" class="btn dbxshad btn-md btn-thm circle white">
            Submit now
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
